@import "~sass-prefix-mixins/scss/prefixes";
@font-face {
  font-family: Roboto Condensed;
  src: url(fonts/Roboto-Regular.ttf);
}

body {
  @include vp-box-sizing(border-box);
  height: 100%;
  margin: 0;
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
}
