<div class="body">
  <div class="header">
    <img src="/assets/images/logo.png" alt="" class="header__logo">
    <div class="header__title">
      <div class="header__titile-row">Натуральная косметика</div>
      <div class="header__titile-row">из вьетнама, кореи, японии</div>
    </div>
  </div>
  <div class="chat">
    <div class="chat__message-block">
      <div class="chat__message">Здравствуйте. Я бот. Здравствуйте. Я бот. Я умею писать на много много много строк.</div>
    </div>
    <div class="chat__message-block">
      <div class="chat__message chat__message_my">Здравствуйте.</div>
    </div>
    <div class="chat__message-block">
      <div class="chat__message chat__message_my">Бот, расскажи что умеешь</div>
    </div>
    <div class="chat__message-block">
      <div class="chat__message">Выберите основные проблемы.</div>
    </div>
    <div class="chat__message-block">
      <div class="chat__message">Выберите основные проблемы.</div>
    </div>
    <div class="chat__message-block">
      <div class="chat__message">Выберите основные проблемы.</div>
    </div>
    <div class="chat__message-block">
      <div class="chat__message">Выберите основные проблемы.</div>
    </div>
    <div class="chat__message-block">
      <div class="chat__message">Выберите основные проблемы.</div>
    </div>

  </div>
  <div class="answer">
    <div class="answer__header">
      <div class="answer__input-block">
        <input type="text" class="answer__input" placeholder="Выберите несколько проблем">
      </div>
      <img src="/assets/images/btn.png" alt="" class="answer__send-btn">
    </div>
    <div class="answer__list">
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item answer__item_active">Глубокие моршины</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item answer__item_active">Глубокие моршины</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item">прыщи (частые высыпания, внутренние болючие долго созревающие прыщи)</div>
      <div class="answer__item answer__item_active">Глубокие моршины</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item answer__item_active">Глубокие моршины</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item">прыщи (частые высыпания, внутренние болючие долго созревающие прыщи)</div>
      <div class="answer__item answer__item_active">Глубокие моршины</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item answer__item_active">Глубокие моршины</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item">прыщи (частые высыпания, внутренние болючие долго созревающие прыщи)</div>
      <div class="answer__item answer__item_active">Глубокие моршины</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item answer__item_active">Глубокие моршины</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item">прыщи (частые высыпания, внутренние болючие долго созревающие прыщи)</div>
      <div class="answer__item answer__item_active">Глубокие моршины</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item answer__item_active">Глубокие моршины</div>
      <div class="answer__item">жирный блеск</div>
      <div class="answer__item">прыщи (частые высыпания, внутренние болючие долго созревающие прыщи)</div>
    </div>
  </div>

</div>
